/*Style for html, body */
		html { height: 100% }   
		body { background: url(../images/1.jpg) no-repeat center center fixed;  
			-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;	height: 100%; margin: 0px; padding: 0px }
		
/*Style for Main Div Content Elements*/
		#updateinfo{ background: #FFFFFF;  color: #3B3B3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4em; font-weight: normal; text-align: left; 
						padding: 0px; width: 75%; height: 75%;  position: absolute; right: 0px; bottom: 10%; overflow-y: scroll; }
		#disclaiminfo{ background: #FFFFFF;  color: #3B3B3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4em; font-weight: normal; text-align: left; 
						padding: 0px; width: 75%; height: 75%;  position: absolute; right: 0px; bottom: 10%; overflow-y: scroll; }		
		#errinfo{ background: #FFFFFF;  color: #3B3B3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4em; font-weight: normal; text-align: left; 
						padding: 0px; width: 75%; height: 75%;  position: absolute; right: 0px; bottom: 10%; overflow-y: scroll; }		
		#privinfo{ background: #FFFFFF;  color: #3B3B3B; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.4em; font-weight: normal; text-align: left; 
						padding: 0px; width: 75%; height: 75%;  position: absolute; right: 0px; bottom: 10%; overflow-y: scroll; }		
		