/*Style for html, body */
		html { height: 100% }   
		body { height: 100%; margin: 0px; padding: 0px }  

/*Style for links*/
		a:link { color: #000099; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px }
		a:visited, a:active { color: #000099; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 12px }
		a:hover { color: #000000; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 15px }
	
/*Style for Google Map Canvas*/
		#map_canvas1 { height: 100%; width: 100 %; margin-left: auto; margin-right: auto; line-height:normal }

/*Style for Google Map InfoWindows for FDOT Districts*/
		.D1districtinfowindow {background-color:#A580C0; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D1districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D1districtinfowindow a:visited, a:active { color: #260041; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D1districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }
		
		.D2districtinfowindow {background-color:#FFD700; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D2districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D2districtinfowindow a:visited, a:active { color: #260041; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D2districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }

		.D3districtinfowindow {background-color:#D89090; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D3districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D3districtinfowindow a:visited, a:active { color: #260041; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D3districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }

		.D4districtinfowindow {background-color:#E6E6FF; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D4districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D4districtinfowindow a:visited, a:active { color: #000080; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D4districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }
		
		.D5districtinfowindow {background-color:#80C080; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D5districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D5districtinfowindow a:visited, a:active { color: #000D00; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D5districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }
		
		.D6districtinfowindow {background-color:#FF33FF; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D6districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D6districtinfowindow a:visited, a:active { color: #000D00; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.67districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }
		
		.D7districtinfowindow {background-color:#00FFFF; margin-left: auto; margin-right: auto; width: 300px; border: 2px; font-size: 20px; font-family: sans-serif; overflow: hidden;}
		.D7districtinfowindow a:link { color: #0033CC; text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px }
		.D7districtinfowindow a:visited, a:active { color: #000D00; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 14px }
		.D7districtinfowindow a:hover { color: #0033CC; text-decoration: underline; font-family: Arial, Helvetica, sans-serif; font-size: 18px }

/*Style for Jquery Widgets*/
		#accordion .ui-accordion-content { max-height: 300px;}
	    #header { background: #bada55;  color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 1.6em; font-weight: bold; text-align: center; 
						padding: 10px; text-shadow: 0 1px 1px rgba(0,0,0,.2); width:100%; box-sizing:border-box;   }
		#footer { background: #bada55;  color: white; font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 1.6em; font-weight: bold; text-align: center; 
						padding: 10px; text-shadow: 0 1px 1px rgba(0,0,0,.2); width:100%; box-sizing:border-box;   }
		
/*Style for for Tables*/
		.maintable { height: 95%; width: 90 % }
		.maintable .mapconsole { height: 100%; width: 80% }
		.maintable .mapbuttons { height: 100%; width: 20% }
		
		.navtable  { height: 100%; width: 100%; padding: 1px 1px; border-style: solid; border-width: 1px; overflow: hidden; margin-left: auto; margin-right: auto }
		.navtable .head {font-family: Arial, sans-serif; font-size: 20px; padding: 10px 5px; border-style: solid; border-width:1 px; overflow: hidden;word-break:normal; margin-left:auto; margin-right:auto }
		.navtable .contents {font-family: Arial, sans-serif; border-style: solid; border-width:1 px; overflow: auto; word-break:normal; margin-left:auto; margin-right:auto }
		
		.maintable2 { height: auto; width: 95%; overflow: hidden; margin-left:auto; margin-right:auto }
		.maintable2 .instructions {font-family: Arial, sans-serif; font-size: 14px;  border-style: solid; overflow: auto; word-break}
		.maintable2 .tip {font-family: Arial, sans-serif; font-size: 10px; padding: 10px 5px; border-style: solid; border-width:1 px; overflow: hidden; word-break: normal }
	
/*Misc Styles */
		hr  {width: 500px; height: 5px; color: DarkBlue}
		